
@{
    ViewBag.Title = "AdminViaje";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="newsletter">
    <div class="newsletter_background" style="background-image:url(/content/assets/images/newsletter.jpg)"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="newsletter_content">
                    <div class="newsletter_title text-center">Administra tu viaje</div>
                    <div class="newsletter_form_container">
                        <form action="PagBusqueda.aspx" id="newsletter_form" class="newsletter_form">
                            <div class="d-flex flex-md-row flex-column align-content-center justify-content-between">
                                <input type="email" id="newsletter_input" class="newsletter_input" placeholder="Codigo de reserva">
                                <input type="email" id="newsletter_input2" class="newsletter_input" placeholder=" Ingrese Dni">
                                <button type="submit" id="newsletter_button" class="newsletter_button">Buscar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

