
@{
    ViewBag.Title = "InfoViaje";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="last">
    <div class="last_background parallax-window" data-parallax="scroll" data-image-src="/Content/assets/images/last.jpg" data-speed="0.8"></div>

    <div class="container">
        <div class="row">
            <div class="last_logo"><img src="~/Content/assets/images/last_logo.png" alt=""></div>
            <div class="col-lg-6 last_col">
                <div class="last_item">
                    <div class="last_item_content">
                        <div class="last_subtitle">TRANSPORTE DE ANIMALES – ¿CÓMO SE HACE?</div>
                        <div class="last_text">
                            El transporte de animales está permitido solo para perros y gatos y se puede realizar de dos maneras:
                            En la cabina de pasajeros, solo en Clase Turista, En la bodega de carga.
                            Ambas opciones tienen control de temperatura y presión, y en el compartimiento de carga se mantiene la iluminación.
                        </div>
                        <div class="last_text">En el desembarque, en caso de que haya viajado en la bodega de carga, el animal será recogido por los mismos pasajeros o los que son sus Dueños</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 last_col">
                <div class="last_item">
                    <div class="last_item_content">
                        <div class="last_subtitle">¿Quién puede viajar? ¿QUIÉN PUEDE Y QUIÉN NO PUEDE VIAJAR?</div>
                        <div class="last_text">No todos los animales son aptos para el transporte aéreo, eso no depende solo de su estado de salud; se aplican restricciones especiales a los animales de ciertas razas, edad o condiciones físicas y comportamentales. Una consulta previa a un médico veterinario es imprescindible.</div>
                        <div class="last_text">TAM se reserva el derecho a denegar el transporte de animales que presenten ciertas condiciones o comportamientos.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

