
@{
    ViewBag.Title = "Pagar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/estilo")
}

<h2>¿Cómo quieres pagar?</h2>
<div class="containerbuttonspago">
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#tarjetacredito">
        Tarjeta de Crédito / Débito
    </button>

    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#depositobancario">
        Depósito o Transferencia
    </button>

</div>


<div class="modal fade" id="tarjetacredito" tabindex="-1" role="dialog" aria-labelledby="tarjetacreditoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">


            <div class='checkout'>
                <div class='order'>
                    <h2>Datos del Viaje</h2>
                    <h5>Nro <span class="nroboleto">555</span></h5>
                    <ul class='order-list'>
                        <li><h4 class="origenviaje">Arequipa</h4><h5>Origen</h5></li>
                        <li><h4 class="destinoviaje">Lima</h4><h5>Destino</h5></li>
                    </ul>
                    <h5>Fecha y Hora de Partida</h5><h4 class="fechahoraviaje">05/05/12 - 5:00 pm</h4>
                    <h5 class='total'>Total</h5><h1>S/. <span class="tarifa">167</span>.00</h1>
                </div>
                <h2>Datos de la Tarjeta</h2>
                <div id='payment' class='payment'>
                    <div class='card'>
                        <div class='card-content'>
                            <svg id='logo-visa' enable-background="new 0 0 50 70" height="70px" version="1.1" viewBox="0 0 50 50" width="70px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><g><polygon clip-rule="evenodd" fill="#f4f5f9" fill-rule="evenodd" points="17.197,32.598 19.711,17.592 23.733,17.592     21.214,32.598   " /><path clip-rule="evenodd" d="M35.768,17.967c-0.797-0.287-2.053-0.621-3.596-0.621    c-3.977,0-6.752,2.029-6.776,4.945c-0.023,2.154,1.987,3.358,3.507,4.08c1.568,0.738,2.096,1.201,2.076,1.861    c0,1.018-1.238,1.471-2.395,1.471c-1.604,0-2.455-0.232-3.773-0.787l-0.53-0.248l-0.547,3.348    c0.929,0.441,2.659,0.789,4.462,0.811c4.217,0,6.943-2.012,6.979-5.135c0.025-1.692-1.053-2.999-3.369-4.071    c-1.393-0.685-2.246-1.134-2.246-1.844c0-0.645,0.723-1.306,2.295-1.306c1.314-0.024,2.268,0.271,3.002,0.58l0.365,0.167    L35.768,17.967z" fill="#f4f5f9" fill-rule="evenodd" /><path clip-rule="evenodd" d="M46.055,17.616h-3.102c-0.955,0-1.688,0.272-2.117,1.24    l-5.941,13.767h4.201c0,0,0.688-1.869,0.852-2.262c0.469,0,4.547,0,5.133,0c0.123,0.518,0.49,2.262,0.49,2.262h3.711    L46.055,17.616 M41.1,27.277c0.328-0.842,1.609-4.175,1.609-4.175c-0.041,0.043,0.328-0.871,0.529-1.43l0.256,1.281    c0,0,0.773,3.582,0.938,4.324H41.1z" fill="#f4f5f9" fill-rule="evenodd" /><path clip-rule="evenodd" d="M13.843,17.616L9.905,27.842l-0.404-2.076    c-0.948-2.467-2.836-4.634-5.53-6.163l3.564,12.995h4.243l6.312-14.982H13.843z" fill="#f4f5f9" fill-rule="evenodd" /><path clip-rule="evenodd" d="M7.232,17.174H0.755l-0.037,0.333    c5.014,1.242,8.358,4.237,9.742,7.841l-1.42-6.884C8.798,17.507,8.105,17.223,7.232,17.174L7.232,17.174z" fill="#f4f5f9" fill-rule="evenodd" /></g></g></svg>
                            <h5>Nro de Tarjeta</h5>
                            <h6 id='label-cardnumber'>0000 0000 0000 0000</h6>
                            <h5>Vencimiento<span>CVC</span></h5>
                            <h6 id='label-cardexpiration'>00 / 0000<span>000</span></h6>
                        </div>
                        <div class='wave'></div>
                    </div>
                    <div class='card-form'>
                        <p class='field'>
                            <svg id='i-cardfront' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 28 28;" xml:space="preserve" width="28px" height="28px"><g>
                            <path d="M471.5,88h-432C17.72,88,0,105.72,0,127.5v256C0,405.28,17.72,423,39.5,423h432c21.78,0,39.5-17.72,39.5-39.5v-256   C511,105.72,493.28,88,471.5,88z M496,383.5c0,13.509-10.991,24.5-24.5,24.5h-432C25.991,408,15,397.009,15,383.5v-256   c0-13.509,10.991-24.5,24.5-24.5h432c13.509,0,24.5,10.991,24.5,24.5V383.5z" fill="#dddfe6" />



                            <path d="M239.5,352h-176c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h176c4.142,0,7.5-3.358,7.5-7.5S243.642,352,239.5,352z" fill="#dddfe6" />



                            <path d="M343.5,352h-72c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h72c4.142,0,7.5-3.358,7.5-7.5S347.642,352,343.5,352z" fill="#dddfe6" />



                            <path d="M79.5,239h48c12.958,0,23.5-10.542,23.5-23.5v-32c0-12.958-10.542-23.5-23.5-23.5h-48C66.542,160,56,170.542,56,183.5v32   C56,228.458,66.542,239,79.5,239z M136,183.5v8.5h-8.5c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h8.5v8.5   c0,4.687-3.813,8.5-8.5,8.5H111v-49h16.5C132.187,175,136,178.813,136,183.5z M79.5,175H96v49H79.5c-4.687,0-8.5-3.813-8.5-8.5V207   h8.5c4.142,0,7.5-3.358,7.5-7.5s-3.358-7.5-7.5-7.5H71v-8.5C71,178.813,74.813,175,79.5,175z" fill="#dddfe6" />



                            <path d="M63.5,319c4.142,0,7.5-3.358,7.5-7.5v-16c0-4.142-3.358-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v16C56,315.642,59.358,319,63.5,319   z" fill="#dddfe6" />



                            <path d="M80,295.5v16c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5v-16c0-4.142-3.358-7.5-7.5-7.5S80,291.358,80,295.5z" fill="#dddfe6" />



                            <path d="M104,295.5v16c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5v-16c0-4.142-3.358-7.5-7.5-7.5S104,291.358,104,295.5z" fill="#dddfe6" />



                            <path d="M128,295.5v16c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5v-16c0-4.142-3.358-7.5-7.5-7.5S128,291.358,128,295.5z" fill="#dddfe6" />



                            <path d="M167.5,319c4.142,0,7.5-3.358,7.5-7.5v-16c0-4.142-3.358-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v16   C160,315.642,163.358,319,167.5,319z" fill="#dddfe6" />



                            <path d="M191.5,319c4.142,0,7.5-3.358,7.5-7.5v-16c0-4.142-3.358-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v16   C184,315.642,187.358,319,191.5,319z" fill="#dddfe6" />



                            <path d="M215.5,319c4.142,0,7.5-3.358,7.5-7.5v-16c0-4.142-3.358-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v16   C208,315.642,211.358,319,215.5,319z" fill="#dddfe6" />



                            <path d="M239.5,288c-4.142,0-7.5,3.358-7.5,7.5v16c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5v-16   C247,291.358,243.642,288,239.5,288z" fill="#dddfe6" />



                            <path d="M271.5,319c4.142,0,7.5-3.358,7.5-7.5v-16c0-4.142-3.358-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v16   C264,315.642,267.358,319,271.5,319z" fill="#dddfe6" />



                            <path d="M295.5,319c4.142,0,7.5-3.358,7.5-7.5v-16c0-4.142-3.358-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v16   C288,315.642,291.358,319,295.5,319z" fill="#dddfe6" />



                            <path d="M319.5,319c4.142,0,7.5-3.358,7.5-7.5v-16c0-4.142-3.358-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v16   C312,315.642,315.358,319,319.5,319z" fill="#dddfe6" />



                            <path d="M343.5,288c-4.142,0-7.5,3.358-7.5,7.5v16c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5v-16   C351,291.358,347.642,288,343.5,288z" fill="#dddfe6" />



                            <path d="M375.5,288c-4.142,0-7.5,3.358-7.5,7.5v16c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5v-16   C383,291.358,379.642,288,375.5,288z" fill="#dddfe6" />



                            <path d="M399.5,288c-4.142,0-7.5,3.358-7.5,7.5v16c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5v-16   C407,291.358,403.642,288,399.5,288z" fill="#dddfe6" />



                            <path d="M423.5,288c-4.142,0-7.5,3.358-7.5,7.5v16c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5v-16   C431,291.358,427.642,288,423.5,288z" fill="#dddfe6" />



                            <path d="M447.5,288c-4.142,0-7.5,3.358-7.5,7.5v16c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5v-16   C455,291.358,451.642,288,447.5,288z" fill="#dddfe6" />



                            <path d="M415.5,160h-48c-21.78,0-39.5,17.72-39.5,39.5s17.72,39.5,39.5,39.5h48c21.78,0,39.5-17.72,39.5-39.5S437.28,160,415.5,160   z M415.5,224h-48c-13.509,0-24.5-10.991-24.5-24.5s10.991-24.5,24.5-24.5h48c13.509,0,24.5,10.991,24.5,24.5S429.009,224,415.5,224   z" fill="#dddfe6" />



                                </g>
                                </svg>
                            <input type='text' id='cardnumber' name='cardnumber' placeholder='1234 5678 9123 4567' pattern='\d*' title='Card Number' />
                        </p>
                        <p class='field space'>
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="i-calendar" x="0px" y="0px" viewBox="0 0 191.259 191.259" style="enable-background:new 0 0 191.259 191.259;" xml:space="preserve" width="28px" height="28px">
                            <g>
                            <circle cx="59.768" cy="83.634" r="3.985" fill="#dddfe6" />



                            <circle cx="83.676" cy="83.634" r="3.985" fill="#dddfe6" />



                            <circle cx="107.583" cy="83.634" r="3.985" fill="#dddfe6" />



                            <circle cx="35.861" cy="107.541" r="3.984" fill="#dddfe6" />



                            <circle cx="59.768" cy="107.541" r="3.984" fill="#dddfe6" />



                            <circle cx="83.676" cy="107.541" r="3.984" fill="#dddfe6" />



                            <circle cx="107.583" cy="107.541" r="3.984" fill="#dddfe6" />



                            <circle cx="155.398" cy="107.541" r="3.984" fill="#dddfe6" />



                            <circle cx="131.49" cy="83.634" r="3.985" fill="#dddfe6" />



                            <circle cx="155.398" cy="83.634" r="3.985" fill="#dddfe6" />



                            <circle cx="35.861" cy="131.449" r="3.985" fill="#dddfe6" />



                            <circle cx="59.768" cy="131.449" r="3.985" fill="#dddfe6" />



                            <circle cx="83.676" cy="131.449" r="3.985" fill="#dddfe6" />



                            <circle cx="107.583" cy="131.449" r="3.985" fill="#dddfe6" />



                            <circle cx="131.49" cy="131.449" r="3.985" fill="#dddfe6" />



                            <circle cx="155.398" cy="131.449" r="3.985" fill="#dddfe6" />



                            <circle cx="35.861" cy="155.356" r="3.985" fill="#dddfe6" />



                            <circle cx="59.768" cy="155.356" r="3.985" fill="#dddfe6" />



                            <circle cx="83.676" cy="155.356" r="3.985" fill="#dddfe6" />



                            <circle cx="107.583" cy="155.356" r="3.985" fill="#dddfe6" />



                            <path d="M131.49,119.495c6.603,0,11.954-5.351,11.954-11.954s-5.351-11.954-11.954-11.954   c-6.603,0-11.954,5.351-11.954,11.954S124.887,119.495,131.49,119.495z M131.49,103.557c2.199,0,3.985,1.786,3.985,3.984   s-1.786,3.984-3.985,3.984s-3.984-1.786-3.984-3.984S129.292,103.557,131.49,103.557z" fill="#dddfe6" />



                            <path d="M175.321,15.98h-7.969v-3.985c0-6.601-5.354-11.954-11.954-11.954   c-6.603,0-11.954,5.352-11.954,11.954v3.985h-95.63v-3.985c0-6.601-5.354-11.954-11.954-11.954   c-6.603,0-11.954,5.352-11.954,11.954v3.985h-7.969C7.136,15.98,0,23.116,0,31.918v15.854v7.969v119.537   c0,8.802,7.136,15.938,15.938,15.938h159.382c8.802,0,15.938-7.136,15.938-15.938V55.742v-7.969V31.918   C191.259,23.116,184.123,15.98,175.321,15.98z M151.413,23.949V15.98v-3.985c0-2.201,1.782-3.985,3.985-3.985   c2.198,0,3.984,1.784,3.984,3.985v3.985v7.969v3.984c0,2.2-1.786,3.985-3.984,3.985c-2.202,0-3.985-1.784-3.985-3.985V23.949z    M31.876,23.949V15.98v-3.985c0-2.201,1.782-3.985,3.985-3.985c2.199,0,3.985,1.784,3.985,3.985v3.985v7.969v3.984   c0,2.2-1.786,3.985-3.985,3.985c-2.202,0-3.985-1.784-3.985-3.985V23.949z M183.29,175.279c0,4.399-3.564,7.969-7.969,7.969H15.938   c-4.405,0-7.969-3.57-7.969-7.969V55.742H183.29V175.279z M183.29,47.773H7.969V31.918c0-4.403,3.564-7.969,7.969-7.969h7.969   v3.984c0,6.601,5.35,11.954,11.954,11.954c6.6,0,11.954-5.352,11.954-11.954v-3.984h95.63v3.984c0,6.601,5.35,11.954,11.954,11.954   c6.599,0,11.954-5.352,11.954-11.954v-3.984h7.969c4.405,0,7.969,3.566,7.969,7.969V47.773z" fill="#dddfe6" />



                                    </g>
                                </svg>
                            <input type='text' id='cardexpiration' name='cardexpiration' placeholder="MM / YYYY" pattern="\d*" title='Card Expiration Date' />
                        </p>
                        <p class='field'>
                            <svg id='i-cardback' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 28 28;" xml:space="preserve" width="28px" height="28px">
                            <g>
                            <path d="M63.5,288c-4.142,0-7.5,3.358-7.5,7.5v16c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5v-16C71,291.358,67.642,288,63.5,288   z" fill="#dddfe6" />



                            <path d="M87.5,288c-4.142,0-7.5,3.358-7.5,7.5v16c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5v-16C95,291.358,91.642,288,87.5,288   z" fill="#dddfe6" />



                            <path d="M111.5,288c-4.142,0-7.5,3.358-7.5,7.5v16c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5v-16   C119,291.358,115.642,288,111.5,288z" fill="#dddfe6" />



                            <path d="M135.5,288c-4.142,0-7.5,3.358-7.5,7.5v16c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5v-16   C143,291.358,139.642,288,135.5,288z" fill="#dddfe6" />



                            <path d="M167.5,319c4.142,0,7.5-3.358,7.5-7.5v-16c0-4.142-3.358-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v16   C160,315.642,163.358,319,167.5,319z" fill="#dddfe6" />



                            <path d="M199,311.5v-16c0-4.142-3.358-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v16c0,4.142,3.358,7.5,7.5,7.5S199,315.642,199,311.5z" fill="#dddfe6" />



                            <path d="M223,311.5v-16c0-4.142-3.358-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v16c0,4.142,3.358,7.5,7.5,7.5S223,315.642,223,311.5z" fill="#dddfe6" />



                            <path d="M239.5,288c-4.142,0-7.5,3.358-7.5,7.5v16c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5v-16   C247,291.358,243.642,288,239.5,288z" fill="#dddfe6" />



                            <path d="M271.5,319c4.142,0,7.5-3.358,7.5-7.5v-16c0-4.142-3.358-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v16   C264,315.642,267.358,319,271.5,319z" fill="#dddfe6" />



                            <path d="M303,311.5v-16c0-4.142-3.358-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v16c0,4.142,3.358,7.5,7.5,7.5S303,315.642,303,311.5z" fill="#dddfe6" />



                            <path d="M327,311.5v-16c0-4.142-3.358-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v16c0,4.142,3.358,7.5,7.5,7.5S327,315.642,327,311.5z" fill="#dddfe6" />



                            <path d="M351,311.5v-16c0-4.142-3.358-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v16c0,4.142,3.358,7.5,7.5,7.5S351,315.642,351,311.5z" fill="#dddfe6" />



                            <path d="M383,311.5v-16c0-4.142-3.358-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v16c0,4.142,3.358,7.5,7.5,7.5S383,315.642,383,311.5z" fill="#dddfe6" />



                            <path d="M407,311.5v-16c0-4.142-3.358-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v16c0,4.142,3.358,7.5,7.5,7.5S407,315.642,407,311.5z" fill="#dddfe6" />



                            <path d="M431,311.5v-16c0-4.142-3.358-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v16c0,4.142,3.358,7.5,7.5,7.5S431,315.642,431,311.5z" fill="#dddfe6" />



                            <path d="M447.5,288c-4.142,0-7.5,3.358-7.5,7.5v16c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5v-16   C455,291.358,451.642,288,447.5,288z" fill="#dddfe6" />



                            <path d="M447.5,216h-384C50.542,216,40,226.542,40,239.5v8c0,12.958,10.542,23.5,23.5,23.5h384c12.958,0,23.5-10.542,23.5-23.5v-8   C471,226.542,460.458,216,447.5,216z M456,247.5c0,4.687-3.813,8.5-8.5,8.5h-384c-4.687,0-8.5-3.813-8.5-8.5v-8   c0-4.687,3.813-8.5,8.5-8.5h384c4.687,0,8.5,3.813,8.5,8.5V247.5z" fill="#dddfe6" />



                            <path d="M447.5,352h-176c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h176c4.142,0,7.5-3.358,7.5-7.5S451.642,352,447.5,352z" fill="#dddfe6" />



                            <path d="M239.5,352h-72c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h72c4.142,0,7.5-3.358,7.5-7.5S243.642,352,239.5,352z" fill="#dddfe6" />



                            <path d="M511,159.498V127.5c0-21.78-17.72-39.5-39.5-39.5h-432C17.72,88,0,105.72,0,127.5v47.998c0,0.001,0,0.003,0,0.005V383.5   C0,405.28,17.72,423,39.5,423h432c21.78,0,39.5-17.72,39.5-39.5V159.502C511,159.501,511,159.499,511,159.498z M496,184h-6.394   l6.394-6.394V184z M449.606,184l41-41H496v13.394L468.394,184H449.606z M409.606,184l41-41h18.787l-41,41H409.606z M369.606,184   l41-41h18.787l-41,41H369.606z M329.606,184l41-41h18.787l-41,41H329.606z M289.606,184l41-41h18.787l-41,41H289.606z M249.606,184   l41-41h18.787l-41,41H249.606z M209.606,184l41-41h18.787l-41,41H209.606z M169.606,184l41-41h18.787l-41,41H169.606z M129.606,184   l41-41h18.787l-41,41H129.606z M89.606,184l41-41h18.787l-41,41H89.606z M49.606,184l41-41h18.787l-41,41H49.606z M15,184v-5.394   L50.606,143h18.787l-41,41H15z M15,143h14.394L15,157.394V143z M39.5,103h432c13.509,0,24.5,10.991,24.5,24.5v0.5h-8.497   c-0.002,0-0.003,0-0.005,0h-39.995c-0.002,0-0.003,0-0.005,0h-39.995c-0.002,0-0.003,0-0.005,0h-39.995c-0.002,0-0.003,0-0.005,0   h-39.995c-0.002,0-0.003,0-0.005,0h-39.995c-0.002,0-0.004,0-0.005,0h-39.995c-0.001,0-0.003,0-0.005,0h-39.995   c-0.001,0-0.003,0-0.005,0h-39.995c-0.001,0-0.003,0-0.005,0h-39.995c-0.001,0-0.003,0-0.005,0H87.502c-0.001,0-0.003,0-0.005,0   H47.502c-0.001,0-0.003,0-0.005,0H15v-0.5C15,113.991,25.991,103,39.5,103z M471.5,408h-432C25.991,408,15,397.009,15,383.5V199   h481v184.5C496,397.009,485.009,408,471.5,408z" fill="#dddfe6" />



                                    </g>
                                </svg>
                            <input type='text' id='cardcvc' name='cardcvc' placeholder="123" pattern="\d*" title='CVC Code' />
                        </p>
                        <button class='button-cta' title='Confirm your purchase'><span>Pagar</span></button>
                    </div>
                </div>
                <div id='paid' class='paid'>
                    <svg id='icon-paid' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 310.277 310.277" style="enable-background:new 0 0 310.277 310.277;" xml:space="preserve" width="180px" height="180px">
                    <g>	<path d="M155.139,0C69.598,0,0,69.598,0,155.139c0,85.547,69.598,155.139,155.139,155.139   c85.547,0,155.139-69.592,155.139-155.139C310.277,69.598,240.686,0,155.139,0z M144.177,196.567L90.571,142.96l8.437-8.437   l45.169,45.169l81.34-81.34l8.437,8.437L144.177,196.567z" fill="#3ac569" />



                            </g></svg>
                    <h2>El Pago se ha realizado correctamente.</h2><br>
                    <a class="btn btn-success linkboleto" href="" role="button">Ver Boleto</a>
                </div>
            </div>


        </div>
    </div>
</div>




<div class="modal fade" id="depositobancario" tabindex="-1" role="dialog" aria-labelledby="depositobancarioLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">



            <div class="containerdeposito">
                <div class="sc-bdVaJa ezJozY">
                    <svg width="175" height="52" viewBox="0 0 175 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="49" y="17" width="15" height="18">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M53.3769 18.0286C53.1373 18.0642 52.9539 18.1336 52.8238 18.2337C52.6937 18.3348 52.6029 18.4918 52.5533 18.7075L49.875 34.4269V34.451V34.5165C49.875 34.6291 49.9078 34.7187 49.9723 34.7851C50.0369 34.8516 50.1202 34.8853 50.2213 34.8853H52.4448C52.5599 34.8853 52.6684 34.8419 52.7695 34.7562C52.8715 34.6715 52.9324 34.5617 52.9539 34.4269L53.973 28.471C54.0535 28.471 54.1733 28.4758 54.3361 28.4864C54.4989 28.4989 54.6683 28.5066 54.8452 28.5153C55.023 28.522 55.213 28.5316 55.4142 28.5432C55.6172 28.5528 55.7904 28.5596 55.9354 28.5596C57.1642 28.5596 58.2638 28.4064 59.2324 28.1022C60.2 27.7969 61.0329 27.2528 61.7301 26.468C62.4282 25.6822 62.9289 24.595 63.2321 23.2045L63.2864 23.0033C63.3294 22.8174 63.3519 22.5497 63.3519 22.2002V21.8429C63.3519 20.5188 62.8652 19.5019 61.8948 18.7913C60.9206 18.0816 59.5496 17.7262 57.7781 17.7262C56.0945 17.7262 54.6262 17.8273 53.3769 18.0286ZM54.396 25.8816L55.3281 20.4476C55.4731 20.4341 55.7726 20.4129 56.2283 20.3859C56.6841 20.3609 57.0519 20.3484 57.3345 20.3484C58.3826 20.3484 59.1388 20.489 59.6057 20.7673C60.0718 21.0456 60.3048 21.5309 60.3048 22.2233C60.3048 22.4756 60.2758 22.7356 60.2187 23.0033L60.1757 23.2045C59.9866 24.0895 59.5889 24.7684 58.9806 25.2402C58.3751 25.713 57.5076 25.949 56.379 25.949C55.7726 25.949 55.111 25.9268 54.396 25.8816Z" fill="white"></path>
                        </mask>
                        <g mask="url(#mask0)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M46.0391 38.8315H67.1879V13.78H46.0391V38.8315Z" fill="#1E1E1C"></path>
                        </g>
                        <mask id="mask1" mask-type="alpha" maskUnits="userSpaceOnUse" x="62" y="21" width="12" height="15">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M65.2366 22.5016C65.0776 22.5603 64.9606 22.6142 64.8885 22.6633C64.8174 22.7125 64.7631 22.7702 64.7257 22.8415C64.6911 22.9127 64.6677 22.9946 64.6611 23.0928L64.4665 24.2416C64.4225 24.5093 64.4009 24.6923 64.4009 24.7886C64.4009 24.9369 64.4665 25.012 64.5965 25.012C64.6751 25.012 64.7959 24.9889 64.9531 24.9456C65.5754 24.7732 66.165 24.6326 66.7209 24.5209C67.2786 24.4092 67.857 24.3543 68.4559 24.3543C69.0558 24.3543 69.4919 24.4429 69.7623 24.621C70.0337 24.7992 70.1694 25.1314 70.1694 25.6139C70.1694 25.7699 70.0899 26.3024 69.9308 27.2095H68.2173C67.2637 27.2095 66.4439 27.2769 65.7616 27.4107C65.0794 27.5446 64.5207 27.7565 64.0865 28.0463C63.6532 28.3362 63.3098 28.7127 63.0571 29.1739C62.8035 29.6342 62.6229 30.1985 62.5143 30.8687C62.4497 31.2337 62.417 31.5679 62.417 31.8731C62.417 34.0013 63.9639 35.0634 67.0578 35.0634C67.7147 35.0634 68.2912 35.0384 68.7872 34.9854C69.2822 34.9325 69.6921 34.8747 70.0178 34.8082C70.3435 34.7399 70.773 34.6368 71.3083 34.4953C71.4459 34.451 71.5376 34.3961 71.5844 34.3325C71.6321 34.2699 71.6686 34.1573 71.6985 33.9926L73.0312 26.2051C73.0892 25.8787 73.1182 25.5359 73.1182 25.1796C73.1182 24.0779 72.7841 23.2469 72.1159 22.6845C71.4468 22.1241 70.4801 21.8429 69.2149 21.8429C67.857 21.8429 66.529 22.0634 65.2366 22.5016ZM65.8487 32.4759C65.5333 32.2679 65.377 31.9434 65.377 31.5053C65.377 31.3185 65.3911 31.1287 65.421 30.9352C65.5286 30.2804 65.7579 29.8316 66.1088 29.5861C66.4588 29.3405 67.0727 29.2182 67.9468 29.2182H69.5939L68.9977 32.5982C68.586 32.7244 68.0582 32.7879 67.4162 32.7879C66.6844 32.7879 66.1631 32.6839 65.8487 32.4759Z" fill="white"></path>
                        </mask>
                        <g mask="url(#mask1)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M58.5811 39.0096H76.9532V17.8967H58.5811V39.0096Z" fill="#1E1E1C"></path>
                        </g>
                        <mask id="mask2" mask-type="alpha" maskUnits="userSpaceOnUse" x="73" y="21" width="13" height="19">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M77.8217 22.4014C76.9757 22.7722 76.2935 23.3759 75.7722 24.2079C75.2528 25.0409 74.8729 26.1637 74.6333 27.5783L74.3413 29.3299C74.2683 29.7459 74.2328 30.211 74.2328 30.7243C74.2328 32.189 74.6539 33.2742 75.4971 33.981C76.3384 34.6869 77.4492 35.0413 78.8296 35.0413C79.4013 35.0413 80.0733 34.9671 80.8463 34.8188L80.8257 34.997C80.7386 35.7635 80.5122 36.295 80.1472 36.5926C79.7832 36.8902 79.1814 37.0394 78.3429 37.0394C77.6551 37.0394 76.9588 36.9826 76.2495 36.8709C75.5401 36.7592 74.9056 36.6282 74.3413 36.4809C74.2983 36.4655 74.229 36.4578 74.1354 36.4578C73.9623 36.4578 73.8537 36.5887 73.8107 36.8487L73.6263 37.9196V38.065C73.6263 38.2354 73.7452 38.3876 73.9838 38.5224C74.5191 38.7824 75.177 39.0029 75.9556 39.1859C76.737 39.3679 77.4782 39.4593 78.1791 39.4593C79.4013 39.4593 80.3858 39.3053 81.1336 38.9962C81.8813 38.688 82.454 38.2027 82.8517 37.5402C83.2495 36.8796 83.5499 35.9782 83.752 34.841L85.7809 23.0476C85.7874 23.0177 85.7921 22.9927 85.7959 22.9686C85.7996 22.9474 85.8015 22.9224 85.8015 22.8916C85.8015 22.7587 85.7622 22.6605 85.6817 22.6017C85.6031 22.543 85.4721 22.4862 85.2914 22.4342C84.6925 22.2647 83.9906 22.1222 83.1886 22.0105C82.3866 21.8987 81.6342 21.8429 80.9333 21.8429C79.7036 21.8429 78.6677 22.0297 77.8217 22.4014ZM77.5671 32.1514C77.2658 31.8539 77.117 31.3936 77.117 30.7686C77.117 30.4479 77.1675 29.9693 77.2686 29.3299L77.5615 27.5783C77.6841 26.8108 77.861 26.1926 78.0921 25.7198C78.3242 25.2479 78.6368 24.8936 79.0307 24.6596C79.4238 24.4256 79.9188 24.309 80.5094 24.309C80.937 24.309 81.3263 24.3283 81.681 24.3639C82.0348 24.4015 82.3436 24.4506 82.6028 24.5103L81.2477 32.4191C80.3811 32.5395 79.6606 32.5982 79.0897 32.5982C78.3757 32.5982 77.8656 32.4499 77.5671 32.1514Z" fill="white"></path>
                        </mask>
                        <g mask="url(#mask2)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M69.7904 43.4056H89.6375V17.8967H69.7904V43.4056Z" fill="#1E1E1C"></path>
                        </g>
                        <mask id="mask3" mask-type="alpha" maskUnits="userSpaceOnUse" x="86" y="21" width="12" height="15">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M88.8831 23.2719C87.8321 24.2224 87.1368 25.6447 86.7971 27.533L86.4602 29.3742C86.4031 29.7016 86.3732 30.0685 86.3732 30.4788C86.3732 31.3185 86.5388 32.085 86.8673 32.7764C87.1958 33.4688 87.6992 34.0225 88.374 34.4394C89.0496 34.8554 89.861 35.0634 90.8081 35.0634C94.2987 35.0634 96.3875 33.1673 97.0753 29.3742L97.4113 27.533C97.4824 27.1016 97.5198 26.7049 97.5198 26.3399C97.5198 25.506 97.3673 24.7501 97.0585 24.0693C96.7506 23.3894 96.2621 22.8482 95.5892 22.4457C94.9182 22.0442 94.0778 21.8429 93.0746 21.8429C91.3321 21.8429 89.9349 22.3196 88.8831 23.2719ZM89.3014 30.3892C89.3014 30.0396 89.3295 29.7016 89.3875 29.3742L89.7234 27.533C89.919 26.4478 90.27 25.661 90.7762 25.1738C91.2807 24.6865 91.9002 24.4429 92.6301 24.4429C93.2796 24.4429 93.7662 24.6153 94.0872 24.961C94.4091 25.3086 94.5701 25.8267 94.5701 26.5181C94.5701 26.8821 94.5373 27.221 94.4728 27.533L94.1471 29.3742C93.7793 31.435 92.8135 32.4644 91.2526 32.4644C89.9518 32.4644 89.3014 31.773 89.3014 30.3892Z" fill="white"></path>
                        </mask>
                        <g mask="url(#mask3)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M82.5381 39.0096H101.355V17.8967H82.5381V39.0096Z" fill="#1E1E1C"></path>
                        </g>
                        <mask id="mask4" mask-type="alpha" maskUnits="userSpaceOnUse" x="98" y="17" width="13" height="19">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M103.953 17.8938C103.342 18.0055 102.789 18.2222 102.294 18.5476C101.799 18.8702 101.373 19.3469 101.018 19.9747C100.665 20.6026 100.402 21.4163 100.227 22.412L98.8722 30.3892C98.8142 30.7243 98.7852 31.0806 98.7852 31.46C98.7852 32.6955 99.1894 33.6036 99.9942 34.1881C100.8 34.7726 101.869 35.0644 103.199 35.0644C103.856 35.0644 104.336 35.0567 104.641 35.0413C104.944 35.0268 105.327 34.9999 105.791 34.9633C106.253 34.9257 106.607 34.8872 106.854 34.8458C107.098 34.8063 107.305 34.7736 107.47 34.7514C107.789 34.7062 107.966 34.5473 108.001 34.2709L108.241 32.8091V32.7879V32.7099C108.241 32.4721 108.125 32.3527 107.894 32.3527H103.36C102.827 32.3527 102.445 32.2612 102.217 32.0782C101.989 31.8962 101.876 31.5842 101.876 31.1364C101.876 30.9275 101.897 30.679 101.94 30.3892L102.429 27.4329H108.447C108.563 27.4329 108.674 27.3886 108.782 27.299C108.891 27.2095 108.956 27.1016 108.977 26.9755L109.271 25.3356V25.3124V25.2682C109.271 25.1709 109.234 25.0813 109.162 25.0004C109.091 24.9196 109 24.8772 108.891 24.8772H102.873L103.296 22.412C103.426 21.6619 103.644 21.1457 103.947 20.8674C104.25 20.5872 104.728 20.4485 105.378 20.4485H109.91C110.025 20.4485 110.138 20.4023 110.246 20.3089C110.354 20.2164 110.418 20.1105 110.442 19.9902L110.692 18.5303C110.696 18.4927 110.703 18.4629 110.706 18.4407C110.711 18.4186 110.712 18.3926 110.712 18.3627C110.712 18.1981 110.586 18.095 110.332 18.0498C109.812 17.9458 109.281 17.8659 108.739 17.811C108.198 17.7542 107.337 17.7262 106.159 17.7262C105.298 17.7262 104.563 17.7821 103.953 17.8938Z" fill="white"></path>
                        </mask>
                        <g mask="url(#mask4)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M94.9502 39.0106H114.547V13.78H94.9502V39.0106Z" fill="#1E1E1C"></path>
                        </g>
                        <mask id="mask5" mask-type="alpha" maskUnits="userSpaceOnUse" x="107" y="17" width="13" height="22">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M116.381 17.3526C115.917 17.4383 115.504 17.602 115.14 17.8437C114.774 18.0854 114.462 18.4523 114.202 18.9425C113.941 19.4336 113.738 20.0797 113.594 20.8838L113.389 21.9999H111.415C111.284 21.9999 111.174 22.0422 111.079 22.1279C110.985 22.2127 110.927 22.3225 110.905 22.4573L110.733 23.5059V23.5724C110.733 23.7736 110.847 23.8959 111.079 23.9402L113.02 24.2638L111.176 35.0191C111.082 35.569 110.932 35.9359 110.727 36.1169C110.52 36.2999 110.15 36.3913 109.615 36.3913H108.618C108.395 36.3913 108.26 36.5213 108.216 36.7823L107.999 38.1314V38.1767C107.999 38.2662 108.033 38.3385 108.103 38.3943C108.171 38.4502 108.248 38.4848 108.337 38.5002C108.885 38.6196 109.319 38.6784 109.637 38.6784C110.504 38.6784 111.223 38.5927 111.793 38.4213C112.365 38.2508 112.85 37.8955 113.247 37.3572C113.644 36.8179 113.93 36.0379 114.104 35.0191L115.947 24.2638H118.083C118.205 24.2638 118.317 24.2224 118.414 24.1405C118.511 24.0596 118.57 23.9566 118.593 23.8285L118.831 22.4573V22.3889C118.831 22.1299 118.704 21.9999 118.452 21.9999H116.326L116.521 20.8838C116.587 20.5044 116.674 20.2155 116.782 20.019C116.891 19.8226 117.038 19.6878 117.227 19.6175C117.415 19.5462 117.7 19.5116 118.083 19.5116H119.08C119.16 19.5116 119.242 19.4769 119.324 19.4056C119.407 19.3353 119.459 19.24 119.481 19.1216L119.698 17.7715V17.7262C119.698 17.6376 119.664 17.5616 119.596 17.5028C119.526 17.4441 119.449 17.4104 119.362 17.4027C118.797 17.2842 118.365 17.2245 118.061 17.2245C117.404 17.2245 116.843 17.2669 116.381 17.3526Z" fill="white"></path>
                        </mask>
                        <g mask="url(#mask5)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M104.164 42.6246H123.534V13.2773H104.164V42.6246Z" fill="#1E1E1C"></path>
                        </g>
                        <mask id="mask6" mask-type="alpha" maskUnits="userSpaceOnUse" x="117" y="21" width="12" height="15">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M120.406 23.2103C119.355 24.1213 118.652 25.6139 118.298 27.69L118.048 29.1056C117.976 29.5081 117.939 29.9645 117.939 30.4778C117.939 31.2222 118.048 31.8779 118.265 32.448C118.482 33.0162 118.801 33.4996 119.219 33.8973C119.639 34.2959 120.132 34.5906 120.699 34.7784C121.266 34.969 121.915 35.0634 122.646 35.0634C123.151 35.0634 123.68 35.0191 124.228 34.9296C124.777 34.841 125.248 34.7389 125.644 34.6233C126.037 34.5078 126.429 34.3691 126.819 34.2045C127.036 34.1005 127.181 34.0119 127.253 33.9368C127.325 33.8626 127.372 33.7509 127.394 33.6026L127.644 32.1399C127.658 32.0956 127.666 32.0436 127.666 31.9839C127.666 31.8288 127.593 31.7499 127.449 31.7499C127.355 31.7499 127.287 31.7566 127.244 31.773C125.754 32.2487 124.446 32.4865 123.318 32.4865C122.385 32.4865 121.734 32.3122 121.361 31.9617C120.989 31.6131 120.802 31.1037 120.802 30.4335C120.802 30.3295 120.838 30.0165 120.911 29.4965H128.154C128.442 29.4965 128.619 29.3039 128.685 28.9168L128.869 27.8229C128.941 27.3395 128.978 26.9042 128.978 26.5181C128.978 25.1189 128.606 23.9913 127.867 23.1313C127.126 22.2733 126.043 21.8429 124.618 21.8429C122.862 21.8429 121.458 22.2984 120.406 23.2103ZM124.174 24.4429C124.796 24.4429 125.272 24.6153 125.6 24.961C125.929 25.3076 126.093 25.8122 126.093 26.4728C126.093 26.7039 126.06 26.9938 125.995 27.3443H121.29C121.63 25.4107 122.592 24.4429 124.174 24.4429Z" fill="white"></path>
                        </mask>
                        <g mask="url(#mask6)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M114.104 39.0106H132.813V17.8967H114.104V39.0106Z" fill="#1E1E1C"></path>
                        </g>
                        <mask id="mask7" mask-type="alpha" maskUnits="userSpaceOnUse" x="129" y="21" width="11" height="15">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M133.616 22.3552C132.828 22.699 132.149 23.2787 131.583 24.0962C131.016 24.9147 130.605 26.0116 130.353 27.3886L129.973 29.5187C129.901 29.9809 129.865 30.3661 129.865 30.679C129.865 31.3262 129.964 31.9165 130.162 32.448C130.361 32.9796 130.657 33.4476 131.052 33.8539C131.447 34.2593 131.898 34.5617 132.407 34.763C132.917 34.9642 133.481 35.0634 134.103 35.0634C134.682 35.0634 135.221 35.0076 135.72 34.8959C136.217 34.7842 136.655 34.6436 137.032 34.4722C137.225 34.3903 137.368 34.3085 137.453 34.2276C137.54 34.1447 137.596 34.0292 137.616 33.8809L137.877 32.3305C137.891 32.2776 137.898 32.2227 137.898 32.1639C137.898 32.0147 137.827 31.9396 137.681 31.9396C137.587 31.9396 137.519 31.9473 137.476 31.9617C136.312 32.3276 135.4 32.5087 134.743 32.5087C134.078 32.5087 133.587 32.3585 133.268 32.0561C132.95 31.7566 132.792 31.2809 132.792 30.6347C132.792 30.3747 132.828 30.0021 132.9 29.5187L133.28 27.3886C133.475 26.2802 133.804 25.505 134.266 25.063C134.728 24.6201 135.354 24.3986 136.142 24.3986C136.712 24.3986 137.558 24.5652 138.68 24.9003C138.723 24.9147 138.78 24.9215 138.852 24.9215C139.07 24.9215 139.188 24.7915 139.209 24.5325L139.483 23.1593C139.488 23.1371 139.494 23.1169 139.497 23.0996C139.501 23.0803 139.503 23.0553 139.503 23.0264C139.503 22.8694 139.368 22.7173 139.102 22.569C138.184 22.0856 137.237 21.8419 136.261 21.8419C135.285 21.8419 134.404 22.0143 133.616 22.3552Z" fill="white"></path>
                        </mask>
                        <g mask="url(#mask7)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M126.029 39.0096H143.338V17.8957H126.029V39.0096Z" fill="#1E1E1C"></path>
                        </g>
                        <mask id="mask8" mask-type="alpha" maskUnits="userSpaceOnUse" x="139" y="19" width="10" height="17">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M145.713 19.2997L143.588 19.6676C143.29 19.7196 143.122 19.8727 143.079 20.1259L142.742 21.9989H140.649C140.518 21.9989 140.408 22.0422 140.314 22.127C140.219 22.2127 140.162 22.3224 140.14 22.4573L139.966 23.4828V23.5502C139.966 23.7871 140.086 23.919 140.325 23.9402L142.363 24.2638L141.138 31.4369C141.066 31.8982 141.029 32.2708 141.029 32.5539C141.029 33.4389 141.28 34.0793 141.783 34.4722C142.285 34.867 143.042 35.0634 144.055 35.0634C144.429 35.0634 144.94 35.0114 145.583 34.9074C145.866 34.8631 146.028 34.7254 146.071 34.4953L146.321 33.0556V32.9882C146.321 32.8024 146.187 32.7099 145.918 32.7099H144.737C144.455 32.7099 144.261 32.6772 144.151 32.6146C144.043 32.552 143.988 32.423 143.988 32.2304C143.988 32.0734 144.025 31.8096 144.098 31.4369L145.322 24.2638H147.316C147.433 24.2638 147.545 24.2176 147.653 24.1251C147.762 24.0317 147.828 23.9258 147.849 23.8073L148.066 22.4573V22.3889C148.066 22.2704 148.033 22.1761 147.969 22.1048C147.904 22.0345 147.812 21.9989 147.698 21.9989H145.691L146.114 19.6454V19.579C146.114 19.3921 146.013 19.2997 145.811 19.2997H145.713Z" fill="white"></path>
                        </mask>
                        <g mask="url(#mask8)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M136.13 39.0096H151.901V15.3525H136.13V39.0096Z" fill="#1E1E1C"></path>
                        </g>
                        <mask id="mask9" mask-type="alpha" maskUnits="userSpaceOnUse" x="147" y="17" width="7" height="18">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M150.687 17.3584C150.572 17.3584 150.461 17.4046 150.352 17.499C150.242 17.5904 150.178 17.6964 150.156 17.8158L149.798 19.8236V19.9016C149.798 20.0133 149.841 20.1038 149.923 20.176C150.006 20.2463 150.099 20.281 150.2 20.281H152.357C152.473 20.281 152.581 20.2386 152.681 20.1529C152.783 20.0672 152.845 19.9584 152.867 19.8236L153.225 17.8158V17.7493C153.225 17.4884 153.098 17.3584 152.845 17.3584H150.687ZM149.939 21.9989C149.817 21.9989 149.707 22.0413 149.608 22.1279C149.511 22.2136 149.452 22.3225 149.43 22.4573L147.381 34.4057V34.4953C147.381 34.5993 147.415 34.6898 147.485 34.7687C147.552 34.8458 147.637 34.8853 147.738 34.8853H149.777C149.899 34.8853 150.014 34.8371 150.123 34.7399C150.231 34.6436 150.298 34.5319 150.319 34.4057L152.357 22.4573V22.3899C152.357 22.1289 152.23 21.9989 151.978 21.9989H149.939Z" fill="white"></path>
                        </mask>
                        <g mask="url(#mask9)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M143.545 38.8315H157.059V13.4112H143.545V38.8315Z" fill="#1E1E1C"></path>
                        </g>
                        <mask id="mask10" mask-type="alpha" maskUnits="userSpaceOnUse" x="153" y="21" width="12" height="15">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M162.188 21.9989C161.944 21.9989 161.766 22.153 161.658 22.4573L157.886 32.0291C157.726 32.4085 157.555 32.5982 157.375 32.5982C157.171 32.5982 157.061 32.4085 157.04 32.0291L156.551 22.4573C156.529 22.153 156.403 21.9989 156.172 21.9989H154.036C153.927 21.9989 153.832 22.047 153.749 22.1453C153.666 22.2416 153.623 22.3533 153.623 22.4794V22.5247L154.643 32.9218C154.773 34.3489 155.57 35.0634 157.04 35.0634C157.682 35.0634 158.281 34.8997 158.833 34.5733C159.385 34.2459 159.832 33.695 160.174 32.9218L164.748 22.5247C164.775 22.465 164.792 22.3899 164.792 22.3013C164.792 22.1 164.694 21.9989 164.498 21.9989H162.188Z" fill="white"></path>
                        </mask>
                        <g mask="url(#mask10)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M149.788 39.0106H168.627V18.0527H149.788V39.0106Z" fill="#1E1E1C"></path>
                        </g>
                        <mask id="mask11" mask-type="alpha" maskUnits="userSpaceOnUse" x="163" y="21" width="12" height="15">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M166.28 23.2719C165.228 24.2224 164.533 25.6447 164.193 27.533L163.857 29.3742C163.799 29.7016 163.77 30.0685 163.77 30.4788C163.77 31.3185 163.934 32.085 164.262 32.7764C164.592 33.4688 165.094 34.0225 165.771 34.4394C166.446 34.8554 167.257 35.0634 168.204 35.0634C171.696 35.0634 173.784 33.1673 174.471 29.3742L174.807 27.533C174.88 27.1016 174.916 26.7049 174.916 26.3399C174.916 25.506 174.763 24.7501 174.454 24.0693C174.148 23.3894 173.658 22.8482 172.985 22.4457C172.313 22.0442 171.475 21.8429 170.47 21.8429C168.728 21.8429 167.332 22.3196 166.28 23.2719ZM166.697 30.3892C166.697 30.0396 166.726 29.7016 166.783 29.3742L167.121 27.533C167.316 26.4478 167.666 25.661 168.172 25.1738C168.678 24.6865 169.296 24.4429 170.026 24.4429C170.676 24.4429 171.162 24.6153 171.484 24.961C171.806 25.3086 171.967 25.8267 171.967 26.5181C171.967 26.8821 171.934 27.221 171.868 27.533L171.543 29.3742C171.176 31.435 170.21 32.4644 168.649 32.4644C167.348 32.4644 166.697 31.773 166.697 30.3892Z" fill="white"></path>
                        </mask>
                        <g mask="url(#mask11)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M159.934 39.0096H178.751V17.8967H159.934V39.0096Z" fill="#1E1E1C"></path>
                        </g>
                        <mask id="mask12" mask-type="alpha" maskUnits="userSpaceOnUse" x="2" y="3" width="44" height="46">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.88673 3.62845C3.74141 5.68437 1.80424 18.2164 2.56694 31.565C3.1743 42.1999 5.1985 47.8265 6.93727 48.6874C10.0508 50.2272 21.0215 45.915 31.9136 38.8681C41.081 32.9382 45.1846 28.2976 45.1846 26.3313C45.1846 22.7876 36.9708 15.3689 26.483 9.43896C19.3314 5.39356 12.95 3.08533 9.27684 3.08533C8.25866 3.08533 7.44729 3.26252 6.88673 3.62845Z" fill="white"></path>
                        </mask>
                        <g mask="url(#mask12)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M-1.43469 52.9447H49.0186V-0.861855H-1.43469V52.9447Z" fill="#FAC913"></path>
                        </g>
                        <mask id="mask13" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="1" width="47" height="50">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.22442 1.32793C7.94982 1.33756 6.83244 1.58311 5.97054 2.14548C2.03538 4.71852 0.730834 16.0719 0.705566 25.6716V26.233C0.710246 28.1522 0.765459 29.9925 0.86185 31.667C1.14447 36.607 2.23003 48.307 6.19701 50.2715C6.8418 50.5893 7.66065 50.7376 8.62081 50.7376C14.1993 50.7376 24.5121 45.733 32.8223 40.3559C37.0532 37.6191 46.8925 30.7744 46.8925 26.3313C46.8925 21.2767 36.7387 13.2321 27.3056 7.89726C24.2258 6.15622 15.2371 1.37511 9.39755 1.32793H9.22442ZM6.93725 48.6864C5.19942 47.8265 3.17522 42.1999 2.56693 31.565C1.80423 18.2154 3.74139 5.68437 6.88672 3.62845C7.44728 3.26252 8.25864 3.08533 9.27682 3.08533C12.95 3.08533 19.3314 5.39356 26.483 9.43896C36.9708 15.3689 45.1846 22.7876 45.1846 26.3313C45.1846 28.2976 41.081 32.9382 31.9136 38.8681C22.5104 44.9521 13.0463 48.9975 8.63204 48.9985C7.93391 48.9985 7.36212 48.8973 6.93725 48.6864Z" fill="white"></path>
                        </mask>
                        <g mask="url(#mask13)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M-3.13037 54.6838H50.7285V-2.62022H-3.13037V54.6838Z" fill="#FEFEFE"></path>
                        </g>
                        <mask id="mask14" mask-type="alpha" maskUnits="userSpaceOnUse" x="8" y="15" width="25" height="27">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.4623 15.9062C14.0402 15.965 13.7155 16.0699 13.4834 16.2259C13.2551 16.379 13.095 16.6207 13.0052 16.953L12.3988 20.0393H20.9448L21.3902 17.1985L26.9547 24.1675L19.2163 31.0122L19.7151 27.8316H10.8706L8.2699 41.0713V41.106V41.2081C8.2699 41.3795 8.32698 41.5172 8.44303 41.6193C8.55813 41.7213 8.70412 41.7743 8.8838 41.7743H12.8133C13.0183 41.7743 13.2101 41.7069 13.3889 41.5759C13.5676 41.4459 13.6771 41.2765 13.7155 41.0713L15.517 33.1394C15.6583 33.1394 15.8716 33.1481 16.1589 33.1645C16.4481 33.1827 16.7476 33.1953 17.0601 33.2068C17.3736 33.2174 17.7087 33.2319 18.0662 33.2492C18.4246 33.2656 18.7306 33.2752 18.987 33.2752C21.1591 33.2752 23.0775 32.9343 24.8154 32.5732C30.1309 31.4706 32.0783 25.9547 32.0998 21.762C32.1111 19.7302 31.2408 18.1702 29.5216 17.081C27.8025 15.991 25.3778 15.4459 22.2465 15.4459C19.2687 15.4459 16.6736 15.6 14.4623 15.9062Z" fill="white"></path>
                        </mask>
                        <g mask="url(#mask14)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.43481 45.7205H35.9357V11.4997H4.43481V45.7205Z" fill="#1E1E1C"></path>
                        </g>
                    </svg>
                    <div class="sc-bwzfXH cGxryq">Información para tu pago Nro <span class="nroboleto"></span></div>
                </div>
                <div class="sc-htpNat bUMSlY">
                    <h2 class="sc-bxivhb eaVeRE">¡Estás a punto de finalizar tu compra en UTP Travel!</h2>
                    <div class="sc-ifAKCX EiKNK">
                        <div style="padding:12px 0">
                            <p style="font-size:15px;margin:0">Origen: <strong class="origenviaje" style="font-weight:bold">AQP</strong> - Destino: <strong class="destinoviaje" style="font-weight:bold">LIM</strong></p>
                            <p style="font-size:15px;margin:0">Fecha y Hora: <strong class="fechahoraviaje" style="font-weight:bold">05/05/12 - 5:00 pm</strong></p>
                        </div>
                        <div style="display:flex">
                            <div class="sc-EHOje gsKEkE">
                                Código de pago (CIP)
                                <p class="sc-gzVnrw drPXSH"><span class="codcip">24127777</span></p>
                            </div>
                            <div class="sc-bZQynM gybKXc">
                                Monto a pagar
                                <p class="sc-gzVnrw drPXSH">S/. <span class="tarifa">50</span>.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="sc-htoDjs chFnxG">

                        <!-- <div>Orden de Pago Generado</div> -->
                        <strong style="font-weight:bold">Esperando el Pago</strong>
                    </div>
                </div>
                <div id="form">
                    <div class="sc-ckVGcZ igmUAs">
                        <div style="margin-bottom: 10px;">
                            <span style="font-size: 13px;">Digite el código del Voucher</span>

                        </div>
                        <div class="sc-kEYyzF khTGIw">
                            <div class="sc-hMqMXs idyYAP">
                                <input id="codigoconfirmacion" placeholder="Código de 3 Dígitos" type="text" maxlength="3" class="sc-jKJlTe kVcDFw" value="" wtx-context="E1528874-6F3C-4B08-8F8F-346A9F5DF273">

                                <a id="verboletodeposito" class="btn btn-warning sc-eNQAEJ eAwapK linkboleto" href="" role="button">Ver Boleto</a>


                            </div>
                        </div>
                    </div>
                </div>
                <hr style="border:.5px solid #979797;width:95%;margin:22px auto 26px">
                <div class="paddingtext">
                    <h2 class="sc-gZMcBi iNUYFp">Puedes pagar en:</h2>
                    <div class="sc-dnqmqq cuLpZQ"><img src="https://cds.template.pagoefectivo.g3c.pe/template-pending-payment/logo-BBVA-continental.1e47c4e149f7ffb3bd027736f2c44f49.png" class="sc-iwsKbI jSGAhs"><img src="https://cds.template.pagoefectivo.g3c.pe/template-pending-payment/logo-bcp.c4022e9eae0f1f5fad7666652952dee1.png" class="sc-iwsKbI jSGAhs"><img src="https://cds.template.pagoefectivo.g3c.pe/template-pending-payment/logo-interbank.9f1b19eb94d442ed04bf1d44cbb09a5a.png" class="sc-iwsKbI jSGAhs"><img src="https://cds.template.pagoefectivo.g3c.pe/template-pending-payment/logo-scotiabank.1a6179022019580183e843ec16fdb588.png" class="sc-iwsKbI jSGAhs"><img src="https://cds.template.pagoefectivo.g3c.pe/template-pending-payment/logo-banbif.be91638fecd37acf81a7721c2999bb16.png" class="sc-iwsKbI jSGAhs"><img src="https://cds.template.pagoefectivo.g3c.pe/template-pending-payment/logo-western-union.ca34435d8296307bcad871ba1b6d5919.png" class="sc-iwsKbI jSGAhs"><img src="https://cds.template.pagoefectivo.g3c.pe/template-pending-payment/logo-tambo.67897b36ce6beeebb9eafed5aecb7bda.png" class="sc-iwsKbI jSGAhs"><img src="https://cds.template.pagoefectivo.g3c.pe/template-pending-payment/logo-kasnet.f1cbb41346dd79ce35149a2dfd1ecf6d.png" class="sc-iwsKbI jSGAhs"><img src="https://cds.template.pagoefectivo.g3c.pe/template-pending-payment/logo-fullcarga.a172355548f83b65c4f8c5f753a71eb9.png" class="sc-iwsKbI jSGAhs"><img src="https://cds.template.pagoefectivo.g3c.pe/template-pending-payment/logo-red-digital.f7ce39631fc8f3e671bb401cff2bf26b.png" class="sc-iwsKbI jSGAhs"><img src="https://cds.template.pagoefectivo.g3c.pe/template-pending-payment/logo-moneygram-peruexpress.419ac5fcd48038da5a86abc92fa08a96.png" class="sc-iwsKbI jSGAhs"><img src="https://cds.template.pagoefectivo.g3c.pe/template-pending-payment/logo-caja-arequipa.a0625458c6cfe1e46c54a99e50ea8748.png" class="sc-iwsKbI jSGAhs"><img src="https://cds.template.pagoefectivo.g3c.pe/template-pending-payment/logo-disashop.f0c30184d040879158426eb358c63a18.png" class="sc-iwsKbI jSGAhs"></div>
                </div>
                <div class="paddingtext">
                    <div class="sc-gqjmRU hJkkmX">
                        <div class="sc-cSHVUG ivBOCX">
                            <div class="sc-fjdhpX hkQzHv">
                                <h3 class="sc-VigVT dMfgaq">Transferencia vía Banca por Internet y Móvil.</h3>
                                <div style="line-height:20px">BBVA, BCP, Interbank, Scotiabank, BanBif y Caja Arequipa.</div>
                            </div>
                            <div class="sc-jTzLTM iWFJXE">
                                <div>1. Selecciona la opción Pago de Servicios.</div>
                                <div>2. Busca y selecciona la institución/empresa PAGOEFECTIVO</div>
                                <div>3. Selecciona PAGOEFECTIVO Soles.</div>
                                <div>4. Ingresa tu código CIP: <span class="codcip">24127777</span> y sigue los pasos.</div>
                            </div>
                        </div>
                    </div>
                    <div class="sc-gqjmRU hJkkmX">
                        <div class="sc-cSHVUG ivBOCX">
                            <div class="sc-fjdhpX hkQzHv">
                                <h3 class="sc-VigVT dMfgaq">Pago en Efectivo por Agentes y Bodegas.</h3>
                                <div style="line-height:20px">Express BBVA, Agente BCP(*), Interbank(**), Scotiabank, Western Union, Perú Express-MoneyGram(***), Disashop (****), Tambo+(*****).</div>
                            </div>
                            <div class="sc-jTzLTM iWFJXE">
                                <div>1. Indica que vas realizar un pago a la empresa PAGOEFECTIVO</div>
                                <div>2. Indica que realizarás el pago a PAGOEFECTIVO Soles.</div>
                                <div>3. Indica el Código CIP: <span class="codcip">24127777</span> y el importe a pagar.</div>
                                <br>
                                <div>(*) Agentes BCP: Brinda el código de empresa 02186.</div>
                                <div>(**) Agentes Interbank: Brinda el siguiente código 2735001.</div>
                                <div>(***) Perú Express-MoneyGram: Pagos en soles y dólares.</div>
                                <div>(****) Disashop: Pagos solo en soles en horarios en función a la tienda. Tope depende de cada establecimiento.</div>
                                <div>(*****)Tambo+: Opera a través de un Agente BBVA.</div>
                            </div>
                        </div>
                    </div>
                    <div class="sc-gqjmRU hJkkmX">
                        <div class="sc-cSHVUG ivBOCX">
                            <div class="sc-fjdhpX hkQzHv">
                                <h3 class="sc-VigVT dMfgaq">Pago en Efectivo por Agencias Bancarias.</h3>
                                <div style="line-height:20px">BBVA, BCP(*), Interbank(**), Scotiabank, BanBif, Caja Arequipa(***).</div>
                            </div>
                            <div class="sc-jTzLTM iWFJXE">
                                <div>1. Indica que vas realizar un pago a la empresa PAGOEFECTIVO</div>
                                <div>2. Indica que realizarás el pago a PAGOEFECTIVO Soles</div>
                                <div>3. Indica el Código CIP: <span class="codcip">24127777</span> y el importe a pagar.</div>
                                <br>
                                <div>(*) Agentes BCP: Costo adicional S/ 1.00.</div>
                                <div>(**) Agentes Money Market de Interbank: Costo adicional S/ 2.00.</div>
                                <div>(***) Caja Arequipa: Pagos en soles y dólares.</div>
                            </div>
                        </div>
                        <a href="https://ubicanos.pagoefectivo.pe/#/?tienda=1&amp;moneda=107&amp;monto=50.00&amp;ubicame=true" class="sc-jzJRlG cOolfI">
                            <svg width="16" height="19" viewBox="0 0 16 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11 6.5C11 8.16154 9.63846 9.5 8 9.5C6.36154 9.5 5 8.16154 5 6.5C5 4.83846 6.33846 3.5 8 3.5C9.66154 3.5 11 4.83846 11 6.5ZM9.15393 6.52307C9.15393 5.87694 8.62314 5.36926 8.00005 5.36926C7.37695 5.36926 6.84616 5.87694 6.84616 6.52307C6.84616 7.1692 7.35387 7.67688 8.00005 7.67688C8.64622 7.67688 9.15393 7.1692 9.15393 6.52307Z" fill="#FCCE0D"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.856082 18.5H15.1221C15.3624 18.5 15.6027 18.3931 15.7775 18.2221C15.9523 18.0297 16.0178 17.7945 15.9959 17.5594L15.3405 11.9371C15.2968 11.5095 14.9255 11.1888 14.4667 11.1888H13.0685C15.0784 8.62352 14.9036 4.86105 12.5878 2.48812C11.3644 1.18409 9.74775 0.5 8 0.5C6.25225 0.5 4.63559 1.18409 3.41216 2.44537C1.07455 4.81829 0.921622 8.58076 2.93153 11.1461H1.53333C1.0964 11.1461 0.725001 11.4667 0.65946 11.8943L0.00405458 17.5166C-0.0177923 17.7518 0.0477483 18.0083 0.222523 18.1793C0.375451 18.3931 0.615766 18.5 0.856082 18.5ZM4.65741 3.62113C5.55313 2.70189 6.73286 2.21021 7.99997 2.21021C9.26708 2.21021 10.4468 2.70189 11.3425 3.62113C13.1995 5.52374 13.1995 8.62351 11.3425 10.5261L7.99997 13.9252L4.65741 10.5261C2.80043 8.62351 2.80043 5.52374 4.65741 3.62113ZM4.52634 12.8563H2.29796L1.83917 16.7684H14.1608L13.702 12.8563H11.4737L8.63356 15.7423C8.45878 15.9133 8.24032 15.9988 8 15.9988C7.75968 15.9988 7.54121 15.9133 7.36644 15.7423L4.52634 12.8563Z" fill="#FCCE0D"></path>
                            </svg>
                            Encuentra un punto de pago cercano
                        </a>
                    </div>
                </div>
                <div class="sc-kGXeez eesycP paddingtext">
                    <h3 class="sc-kAzzGY kOKXqH">¿Quieres saber como funciona PagoEfectivo?</h3>
                    <h3 class="sc-kAzzGY sc-chPdSV ctaksm">https://pagoefectivo.pe/como-pagar</h3>
                    <p class="sc-kgoBCf fzqptt">El código de pago CIP es sólo informativo y no una constancia de pago confirmado hasta la realización del mismo a través de los canales mencionados arriba.</p>
                </div>
                <ul class="sc-kpOJdX tGDdz">
                    <li><strong>Servicio:</strong> UTP TRAVEL</li>
                    <li><strong>Concepto de pago:</strong> Turismo UTP Travel</li>
                    <li><strong>Nº de Boleto:</strong> <span class="nroboleto">34401337</span></li>
                    <li><strong>Monto a Pagar:</strong> S/. <span class="tarifa">50</span>.00</li>
                </ul>
            </div>











        </div>
    </div>
</div>


<script>



</script>